@import url('css/google-fonts.css');

.navbar {
    background: none;
   /* background-color: rgb(245, 179, 56); */
    padding: 10px;
    height: auto;
    /* Black w/opacity/see-through */
    font-family: Montserrat;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    letter-spacing: .1em;
    text-transform: capitalize;
    
  }
.sq-layout
  {
  margin-left: 17px;
  margin-right: 17px;
    
  }
.body {
    background: #f4f4f4;
  }
html,
body,
header,

.my-4{
  color:rgb(13, 14, 13);
  
}
.mb-4{
  background-color: rgb(241, 232, 226);
}
.view{
  padding-top: 15px;
}
.mb-3{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  
  color:rgb(222, 233, 222)
}
.mb-5{
  color:darkgoldenrod;
  
}
.pdt{
  margin-top: 70px;
  background-color:seagreen;
  width: 600px;
  margin-left: 250px;
  margin-top: 200px;;
  padding-bottom: 10px;
  padding-top: 10px;
  line-height: 20px;
  
  
}
a.button {
  display: block;
  position: relative;
  width: 120px;
  padding: 0;
  margin-left: 170px;
  font-weight: 600;
  text-align: center;
  line-height: 40px;
  color: #FFF;
  border-radius: 5px;
  transition: all 0.2s ;
  text-decoration:none;
}
.btnOrange {
  background: #FFAA40;
}
.btnFade.btnOrange:hover {
  background: #FF8E00;
}
.nav-link  {    
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color:#FFFFFF;
    /*text-shadow: 2px 2px #6d6969;*/

    }

.navbar  a {
      color:#FFFFFF;
    }
    
.navbar .navbar-nav  > li > a{
      color:#f1faeb;
    }
.navbar .navbar-nav  > li > a:hover {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  color:#4b810c;

}
.bg-head-white {
  background-color:#104210;
}



.top-nav-collapse {
    background-color: #24355C;
  
  @media (max-width: 768px) {
    .navbar:not(.top-nav-collapse) {
      background-color: #24355C;
    }
  }
  @media (min-width: 800px) and (max-width: 850px) {
    .navbar:not(.top-nav-collapse) {
      background-color: #24355C;
    }
  }
  .banner {
    background: #a770ef;
    background: -webkit-linear-gradient(to right, #a770ef, #cf8bf3, #fdb99b);
    background: linear-gradient(to right, #a770ef, #cf8bf3, #fdb99b);
  }
  
  